<a href="https://colab.research.google.com/github/arjredy/DATA-690-WANG/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing Libraries
import random
import numpy as np

In [2]:
a = np.random.randint(0,9,(10,10))

In [3]:
# Printing all random numbers in a 10 x 10 matrix
for i in a:
  for j in i:
    print(j,end=" ")
  print("\n")

6 6 6 2 6 8 3 4 8 1

6 1 7 4 6 5 7 2 5 6

5 4 1 4 3 0 4 1 8 6

4 0 1 6 6 6 2 5 4 3

3 8 2 0 2 1 3 0 0 0

4 4 7 6 6 1 0 6 6 1

5 4 0 8 2 1 4 8 6 5

7 3 6 6 2 8 5 3 6 6

8 3 8 6 0 1 6 4 6 6

5 2 3 5 5 3 6 2 8 8

In [4]:
# Replacing odd numbers with @
for i in a:
  for j in i:
    if j%2!=0:
      print('@',end=" ")
    else:
      print(j,end=' ')
  print("\n")

6 6 6 2 6 8 @ 4 8 @

6 @ @ 4 6 @ @ 2 @ 6

@ 4 @ 4 @ 0 4 @ 8 6

4 0 @ 6 6 6 2 @ 4 @

@ 8 2 0 2 @ @ 0 0 0

4 4 @ 6 6 @ 0 6 6 @

@ 4 0 8 2 @ 4 8 6 @

@ @ 6 6 2 8 @ @ 6 6

8 @ 8 6 0 @ 6 4 6 6

@ 2 @ @ @ @ 6 2 8 8

In [5]:
#Printing the total of each row
for i in a:
  for j in i:
    print(j,end=' ')
  print('*',sum(i))

6 6 6 2 6 8 3 4 8 1 * 50
6 1 7 4 6 5 7 2 5 6 * 49
5 4 1 4 3 0 4 1 8 6 * 36
4 0 1 6 6 6 2 5 4 3 * 37
3 8 2 0 2 1 3 0 0 0 * 19
4 4 7 6 6 1 0 6 6 1 * 41
5 4 0 8 2 1 4 8 6 5 * 43
7 3 6 6 2 8 5 3 6 6 * 52
8 3 8 6 0 1 6 4 6 6 * 48
5 2 3 5 5 3 6 2 8 8 * 47

In [6]:
# Surrounding the matrix with asterisks (*)
print('*'*23)
for i in a:
  print('*',end=" ")
  for j in i:
    print(j,end=' ')
  print('*',sum(i))
print('*'*23)

***********************
* 6 6 6 2 6 8 3 4 8 1 * 50
* 6 1 7 4 6 5 7 2 5 6 * 49
* 5 4 1 4 3 0 4 1 8 6 * 36
* 4 0 1 6 6 6 2 5 4 3 * 37
* 3 8 2 0 2 1 3 0 0 0 * 19
* 4 4 7 6 6 1 0 6 6 1 * 41
* 5 4 0 8 2 1 4 8 6 5 * 43
* 7 3 6 6 2 8 5 3 6 6 * 52
* 8 3 8 6 0 1 6 4 6 6 * 48
* 5 2 3 5 5 3 6 2 8 8 * 47
***********************

In [7]:
#Printing column sum and row sum

print('*'*33)
col_sum = [0]*10
for i in a:
  print('*',end=" ")
  index = 0
  for j in i:
    col_sum[index] += j
    print(j,end='  ')
    index+=1
  print('*',sum(i))
print('*'*33)
print(''*2,end=" ")
for i in col_sum:
  print(i,end=" ")

*********************************
* 6  6  6  2  6  8  3  4  8  1  * 50
* 6  1  7  4  6  5  7  2  5  6  * 49
* 5  4  1  4  3  0  4  1  8  6  * 36
* 4  0  1  6  6  6  2  5  4  3  * 37
* 3  8  2  0  2  1  3  0  0  0  * 19
* 4  4  7  6  6  1  0  6  6  1  * 41
* 5  4  0  8  2  1  4  8  6  5  * 43
* 7  3  6  6  2  8  5  3  6  6  * 52
* 8  3  8  6  0  1  6  4  6  6  * 48
* 5  2  3  5  5  3  6  2  8  8  * 47
*********************************
 53 35 41 47 38 34 40 35 57 42