<a href="https://colab.research.google.com/github/arjredy/DATA-690-WANG/blob/master/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 06 - Using Pandas
**Instructions**

**This assignment is a re-do of assignment 04. We use Pandas and functions instead. It is due Wednesday, Sept 30th.**

WYou get to use the simple and convenient read_html() from Pandas to extract HTML tables from web pages.
We had walked through the process during last sesssion. The sample solution is here:
https://github.com/wcj365/python-stats-dataviz/blob/master/pandas_apply.ipynb

You will try to do it on your own and use the sample solution when you get stuck.
Make sure you user Markdown cells to document the process and its steps.

**Requirements**

1.Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

2.Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

3.Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

4.Document the data quality issues using a Markdown cell so the reader understands what the problems are.

5.Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

6.Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

7.Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

8.After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

9.Use Pandas to read the saved cleansed file and explore to make sure it is clean.

10.Updload both the Jupyter notebook and the cleanse data file to GitHub and submit the GitHub link in BlackBoard.

In [ ]:
import pandas as pd
import numpy as np

**1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html**

In [ ]:
df_list = pd.read_html("https://www.genealogybranches.com/censuscosts.html")
len(df_list)

2

**2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.**

Exploring First table from the HTML page

In [ ]:
df1 = df_list[0]
df1.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

Exploring Second table from the HTML page

In [ ]:
df2 = df_list[1]
df2.head()

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

**3. Exploring the useful dataframe and checking the rows and columns count.**

In [ ]:
df1.shape

(23, 4)

There are 23 rows and 4 columns in the Dataframe

In [ ]:
df1

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

**4. Data Quality Issues from the dataframe:**
1. In the Census Year column, the year 2010 has an astric in it.
2. In the Census Cost column, value from each row has the dollar sign in it and for the year values of 2000 and 2010, the Census Cost value is recorded as values in Billion.
3. In the Average Cost Per Person column, the values contain strings like "cents" and dollar symbol.

In [ ]:
first_row = df1.iloc[0]
first_row

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [ ]:
df1.columns = first_row
df1.head()

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

Dropping first row, as it contains duplicate values as the header.

In [ ]:
df1.drop([0], inplace=True)
# df1 = df1.drop([0])
df1.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

Checking for any NULL values

In [ ]:
df1.isnull().any()

0
Census Year                False
Total Population           False
Census Cost                False
Average Cost Per Person    False
dtype: bool

**5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")**

In [ ]:
def cleanse_year(year):
    return year.replace("*","")

**Testing for the Year:**

In [ ]:
cleanse_year("1989*")

'1989'

In [ ]:
cleanse_year("20*10")

'2010'

**6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.**

In [ ]:
df1['Census Year'] = df1['Census Year'].apply(cleanse_year)
df1

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

**7. Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)**

Cleansing Census Cost

In [ ]:
import math
# defining
def cleanse_cost(raw_cost):
    cost = raw_cost.lstrip("$").replace(",","")
    if  cost.find("Billion") != -1:          # if "cell" conatins "Billion":
        cost = cost.replace('Billion','')
        cost = float(cost)* math.pow(10,8)
    elif raw_cost.find("Million") != -1:     # elif "cell" contains Million: 
        cost = cost.replace('Million','')
        cost = float(cost)* math.pow(10,6)
    return str(cost)

#Testing
cleanse_cost("4.5 Billion")

'450000000.0'

Applying cleansed Census Cost to the dataframe

In [ ]:
df1["Census Cost"] = df1["Census Cost"].apply(cleanse_cost)
df1

0  Census Year Total Population   Census Cost Average Cost Per Person
1         1790          3929214         44377              1.13 cents
2         1800          5308483         66109              1.24 cents
3         1810          7239881        178445              2.46 cents
4         1820          9633822        208526              2.16 cents
5         1830         12866020        378545              2.94 cents
6         1840         17069458        833371              4.88 cents
7         1850         23191876       1423351              6.14 cents
8         1860         31443321       1969377              6.26 cents
9         1870         38558371       3421198              8.87 cents
10        1880         50155783       5790678             11.54 cents
11        1890         62979766      11547127             18.33 cents
12        1900         76303387      11854000             15.54 cents
13        1910         91972266      15968000             17.07 cents
14        1920        105710620      25117000             23.76 cents
15        1930        122775046      40156000             32.71 cents
16        1940        131669275      67527000             51.29 cents
17        1950        151325798      91462000             60.44 cents
18        1960        179323175     127934000             71.34 cents
19        1970        203302031     247653000                   $1.22
20        1980        226542199    1078488000                   $4.76
21        1990        248718301    2492830000                  $10.02
22        2000        281421906   450000000.0                  $15.99
23        2010        308745538  1300000000.0                  $42.11

Cleansing Total Population

In [ ]:
#defining 
def cleanse_population(popultaion):
  return int(popultaion.replace(',',''))

#testing

cleanse_population("123,000")

123000

Applying cleansed Total Population to the dataframe

In [ ]:
df1['Total Population'] = df1['Total Population'].apply(cleanse_population)
df1

0  Census Year  Total Population   Census Cost Average Cost Per Person
1         1790           3929214         44377              1.13 cents
2         1800           5308483         66109              1.24 cents
3         1810           7239881        178445              2.46 cents
4         1820           9633822        208526              2.16 cents
5         1830          12866020        378545              2.94 cents
6         1840          17069458        833371              4.88 cents
7         1850          23191876       1423351              6.14 cents
8         1860          31443321       1969377              6.26 cents
9         1870          38558371       3421198              8.87 cents
10        1880          50155783       5790678             11.54 cents
11        1890          62979766      11547127             18.33 cents
12        1900          76303387      11854000             15.54 cents
13        1910          91972266      15968000             17.07 cents
14        1920         105710620      25117000             23.76 cents
15        1930         122775046      40156000             32.71 cents
16        1940         131669275      67527000             51.29 cents
17        1950         151325798      91462000             60.44 cents
18        1960         179323175     127934000             71.34 cents
19        1970         203302031     247653000                   $1.22
20        1980         226542199    1078488000                   $4.76
21        1990         248718301    2492830000                  $10.02
22        2000         281421906   450000000.0                  $15.99
23        2010         308745538  1300000000.0                  $42.11

Cleansing Average Cost Per Person

In [ ]:
#defining 

def cleanse_avgcost(cost):
  cost = cost.replace('$','')
  cost = cost.replace('\t','')
  cost = cost.replace('\n','')
  if 'cents' in cost:
    # print("Cost ",cost)
    cost = cost.replace('cents','')
    cost = float(cost)/100
  return cost

# testing
cleanse_avgcost("1.6 cents")

0.016

Applying Average Cost Per Person to the dataframe

In [ ]:
df1['Average Cost Per Person'] = df1['Average Cost Per Person'].apply(cleanse_avgcost)
df1

0  Census Year  Total Population   Census Cost Average Cost Per Person
1         1790           3929214         44377                  0.0113
2         1800           5308483         66109                  0.0124
3         1810           7239881        178445                  0.0246
4         1820           9633822        208526                  0.0216
5         1830          12866020        378545                  0.0294
6         1840          17069458        833371                  0.0488
7         1850          23191876       1423351                  0.0614
8         1860          31443321       1969377                  0.0626
9         1870          38558371       3421198                  0.0887
10        1880          50155783       5790678                  0.1154
11        1890          62979766      11547127                  0.1833
12        1900          76303387      11854000                  0.1554
13        1910          91972266      15968000                  0.1707
14        1920         105710620      25117000                  0.2376
15        1930         122775046      40156000                  0.3271
16        1940         131669275      67527000                  0.5129
17        1950         151325798      91462000                  0.6044
18        1960         179323175     127934000                  0.7134
19        1970         203302031     247653000                    1.22
20        1980         226542199    1078488000                    4.76
21        1990         248718301    2492830000                   10.02
22        2000         281421906   450000000.0                   15.99
23        2010         308745538  1300000000.0                   42.11

**8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.**

In [ ]:
df1.to_csv('census_cost_cleansed.csv',index=False)

**9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.**

In [ ]:
df = pd.read_csv('census_cost_cleansed.csv')

In [ ]:
df

    Census Year  Total Population   Census Cost  Average Cost Per Person
0          1790           3929214  4.437700e+04                   0.0113
1          1800           5308483  6.610900e+04                   0.0124
2          1810           7239881  1.784450e+05                   0.0246
3          1820           9633822  2.085260e+05                   0.0216
4          1830          12866020  3.785450e+05                   0.0294
5          1840          17069458  8.333710e+05                   0.0488
6          1850          23191876  1.423351e+06                   0.0614
7          1860          31443321  1.969377e+06                   0.0626
8          1870          38558371  3.421198e+06                   0.0887
9          1880          50155783  5.790678e+06                   0.1154
10         1890          62979766  1.154713e+07                   0.1833
11         1900          76303387  1.185400e+07                   0.1554
12         1910          91972266  1.596800e+07                   0.1707
13         1920         105710620  2.511700e+07                   0.2376
14         1930         122775046  4.015600e+07                   0.3271
15         1940         131669275  6.752700e+07                   0.5129
16         1950         151325798  9.146200e+07                   0.6044
17         1960         179323175  1.279340e+08                   0.7134
18         1970         203302031  2.476530e+08                   1.2200
19         1980         226542199  1.078488e+09                   4.7600
20         1990         248718301  2.492830e+09                  10.0200
21         2000         281421906  4.500000e+08                  15.9900
22         2010         308745538  1.300000e+09                  42.1100

In [ ]:
df.shape

(23, 4)

In [ ]:
df.isnull()

    Census Year  Total Population  Census Cost  Average Cost Per Person
0         False             False        False                    False
1         False             False        False                    False
2         False             False        False                    False
3         False             False        False                    False
4         False             False        False                    False
5         False             False        False                    False
6         False             False        False                    False
7         False             False        False                    False
8         False             False        False                    False
9         False             False        False                    False
10        False             False        False                    False
11        False             False        False                    False
12        False             False        False                    False
13        False             False        False                    False
14        False             False        False                    False
15        False             False        False                    False
16        False             False        False                    False
17        False             False        False                    False
18        False             False        False                    False
19        False             False        False                    False
20        False             False        False                    False
21        False             False        False                    False
22        False             False        False                    False

In [ ]:
df.isnull().any()

Census Year                False
Total Population           False
Census Cost                False
Average Cost Per Person    False
dtype: bool

# The dataframe is clean and do not have any NULL values.